= form_for(resource, as: resource_name, url: registration_path(resource_name),html: {class: 'container user-new'} ) do |f|
  = devise_error_messages!
  .col-md-8.col-md-offset-2
    %header.row.user-nav.row
      .col-md-12
        %h2 Register
        .user-name_image.row
          .user-name.col-md-10
            = f.text_field :username, type:"text",placeholder:"Username"
            / %input{type: "text", placeholder: "Username"}/
          .user-image.col-md-2
            %button.btn.btn-primary Add image
            = f.file_field :""
            -#%input{type: "file"}/
        = f.email_field :email,type:"email",placeholder:"E-mail"
        -#%input.user-email{type: "email", placeholder: "E-Mail"}/
        = f.password_field :password,type:"password",placeholder:"Password"
        -#%input.user-password{type: "password", placeholder: "Password"}/
      .col-md-12
        %h4 Member of
        .user-user-member.row
          .user-name.col-md-12
            = f.text_field :member,type:"text",placeholder:"Member"
            -#%input{type: "text", placeholder: "Member"}/
        %h4 Profile
        .user-user-profile.row
          .user-name.col-md-12
            = f.text_area :profile, cols: "30", rows: "4", placeholder: "Profile"
            -#%textarea{name: "textarea", cols: "30", rows: "4", placeholder: "Profile"}
        %h4 Works
        .user-name_image.row
          .user-name.col-md-12
            = f.text_area :works, cols: "30", rows: "4", placeholder: "Works"
            -#%textarea{name: "textarea", cols: "30", rows: "4", placeholder: "Works"}
    .row.text-center.user-btn.actions
      = f.submit 'save',:class =>"btn btn-lg btn-primary btn-block"
      -#= f.submit 'button_name',:class => "form_submit"
      -#%button.btn.btn-lg.btn-primary.btn-block{type: "submit"} Save

/ ----------------------------------------------------------------------------

/ %form.container.user-new{action: ""}
/   .col-md-8.col-md-offset-2
/     %header.row.user-nav.row
/       .col-md-12
/         %h2 Register
/         .user-name_image.row
/           .user-name.col-md-10
/             %input{type: "text", placeholder: "Username"}/
/           .user-image.col-md-2
/             %button.btn.btn-primary Add image
/             %input{type: "file"}/
/         %input.user-email{type: "email", placeholder: "E-Mail"}/
/         %input.user-password{type: "password", placeholder: "Password"}/
/       .col-md-12
/         %h4 Member of
/         .user-user-member.row
/           .user-name.col-md-12
/             %input{type: "text", placeholder: "Member"}/
/         %h4 Profile
/         .user-user-profile.row
/           .user-name.col-md-12
/             %textarea{name: "textarea", cols: "30", rows: "4", placeholder: "Profile"}
/         %h4 Works
/         .user-name_image.row
/           .user-name.col-md-12
/             %textarea{name: "textarea", cols: "30", rows: "4", placeholder: "Works"}
/     .row.text-center.user-btn
/       %button.btn.btn-lg.btn-primary.btn-block{type: "submit"} Save

/ %h2 Sign up
/ = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
/   = devise_error_messages!
/   .field
/     = f.label :email
/     %br/
/     = f.email_field :email, autofocus: true
/   .field
/     = f.label :password
/     - if @minimum_password_length
/       %em
/         (#{@minimum_password_length} characters minimum)
/     %br/
/     = f.password_field :password, autocomplete: "off"
/   .field
/     = f.label :password_confirmation
/     %br/
/     = f.password_field :password_confirmation, autocomplete: "off"
/   .actions
/     = f.submit "Sign up"
/ = render "devise/shared/links"

/ <h2>Sign up</h2>

/ <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
/   <%= devise_error_messages! %>

/   <div class="field">
/     <%= f.label :email %><br />
/     <%= f.email_field :email, autofocus: true %>
/   </div>

/   <div class="field">
/     <%= f.label :password %>
/     <% if @minimum_password_length %>
/     <em>(<%= @minimum_password_length %> characters minimum)</em>
/     <% end %><br />
/     <%= f.password_field :password, autocomplete: "off" %>
/   </div>

/   <div class="field">
/     <%= f.label :password_confirmation %><br />
/     <%= f.password_field :password_confirmation, autocomplete: "off" %>
/   </div>

/   <div class="actions">
/     <%= f.submit "Sign up" %>
/   </div>
/ <% end %>

/ <%= render "devise/shared/links" %>
