.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to "#" do
            %img.media-object{alt: "64x64", "data-holder-rendered": "true", "data-src": "holder.js/64x64", src: @prototype.user.avatar, style: "width: 64px; height: 64px;"}/
        .media-body
          %h4#top-aligned-media.media-heading
            = @prototype.title
          .proto-user
            = link_to "by #{@prototype.user.username}", "/users/#{@prototype.user.id}"
            %span.degree
              = @prototype.user.member

    .col-md-6.text-right
      #like_buttons
        = render partial:"likes/like", locals:{prototype: @prototype, like: @like}

  .row
    .col-md-9
      = image_tag(@prototype.main_image, class: 'img-responsive')
    - @prototype.sub_images.each do |sub_image|
      .col-md-3
        %ul.proto-sub-list.list-group
          %li.list-group-item
            = image_tag(sub_image.image, class: 'img-responsive')
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p
        = @prototype.catch_copy
    .col-md-6
      %h4 Concept
      %p
        = @prototype.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        %li
          = link_to "iPad","#",{class:"btn btn-default"}
        %li
          = link_to "Wireframe","#",{class:"btn btn-default"}
  .row.proto-comments
    %h4.col-md-12
      Comments
      %span.num (#{@prototype.comments_count})
    .col-md-8
      #comment_index
        = render partial:"comments/comment", locals:{comments: @comments}
      - if user_signed_in?
        = form_for([@prototype,@comment],html:{class:"form-inline"},remote: true) do |f|
          %h4 Write a comment
          .row
            .form-group.col-md-10
              = f.text_area :text, class: "form-control", rows: "3", placeholder: "Your comments"
            .form-group.col-md-2
              = f.submit "Comment", :class=>"button btn btn-primary"
